<section class="searchContainer">
<form class="formContainer">
<input type="text" placeholder="Type to search..." id="searchBox">
</form>
<div class="searchResultsContainer" id="searchResults">
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
<div>
<p>Madara</p>
</div>
</div>
</section>