<%= javascript_include_tag 'modules/searchHandler' %>

<section class="searchContainer">
<form class="formContainer">
<input type="text" placeholder="Type to search..." id="searchBox">
</form>
<div class="searchResultsContainer" id="searchResults">
<%
=begin%>
 <div>
<p>Madara</p>
</div> 
<%
=end%>
</div>
</section>